# Исключить директорию virtual environment
venv/

# Исключить файл с переменными окружения
.env

# Исключить временные файлы редакторов
*.swp
*.tmp
*.log

# Исключить файлы кэша Python
__pycache__/
*.pyc
